//@import 'foundation/functions';
//@import "../bower_components/foundation/scss/foundation.scss";
@import 'foundation/components/grid';

//variables
$white: #FFFFFF;
$dark-grey: #333333;
$black: #000000;
$turquoise: #1adbd3; 
$turquoise-light: #e5fcfb;  
$turquoise-dark	: #1adbd3; 

//universal
body {
	color: $dark-grey;
	background-color: $white;  
}

h1, h2, h3, h4, h5, h6, p, button, .button {
	font-family: 'Karla', sans-serif; 
	margin: 0; 
}
a {
	text-decoration: none;
	color: $dark-grey; 
}
button, .button {
	color: $turquoise; 
	border: 2px solid $turquoise;
	background-color: transparent;
	border-radius: 2px; 
	cursor: pointer; 
	margin: 0 .25rem; 
	padding: .25rem .5rem; 
	font-size: .875rem; 
	&.call-out {
		background-color: $turquoise; 
		color: $white; 
	}
	&:hover, &:focus {
		color: $turquoise; 
		background-color: $turquoise-light; 
	}
}

//header
.header {
	margin-top: 1rem; 
	h1 {
		text-transform: lowercase; 
		letter-spacing: .5px; 
		font-size: 2.5rem; 
		font-weight: 700; 
		margin: 0; 
	} 
	p {
		font-size: 1.25rem; 
	}
}
.info-paragraph {
	margin-top: .25rem; 
	font-size: 1em; 
	a {
		color: $turquoise; 
	}
	a:hover {
		color: $turquoise; 
		background-color: $turquoise-light;  
	}
}

//projects
.projects {
	margin-top: 2rem; 
}
.project {
	border: 1px solid #eee; 
	border-radius: 2px; 
}
.project-description {
	border-top: 1px solid #eee; 
	padding: .75rem; 
}
.project-title {
	font-weight:700; 
}
.img-container {
	&.living-style-guide {
		background: url('../img/living_style_guide.jpg') no-repeat center center; 
		background-size: cover; 
		height: 180px; 
	}
}

//footer
footer {
	background-color: white; 
	border-top: 1px solid #eee; 
    bottom: 0px;
    padding: 1.25rem 0;
	position: absolute;
    width: 100%;
    z-index: 1; 
    p {
    	margin-bottom: 0; 
    }
}


//media queries
@media only screen and (min-width: 40.063em) { /*medium and up*/
    .social-buttons {
    	float: right;  
    }
} 





