//foundation grid
@import 'foundation/components/grid';

//variables
$white: #FFFFFF;
$dark-grey: #333333;
$black: #000000;
$turquoise: #1adbd3; 
$turquoise-light: #e5fcfb; 

//universal
body {
	color: $dark-grey;
	background-color: $white;  
	overflow-y: scroll; 
}

h1, h2, h3, h4, h5, h6, p, a, button, .button {
	font-family: 'Karla', sans-serif; 
	margin: 0; 
}
button {
	background-color: transparent;
	border: 0; 
	cursor: pointer; 
	padding: 0;  
}
a, button {
	border-bottom: 1px dotted $turquoise;
	color: inherit; 
	cursor: pointer; 
	text-decoration: none; 
	transition: all .1s ease; 
	&:hover {
		border-bottom: 1px solid $turquoise;
		color: $turquoise;  
	}
	&:focus {
		outline: none; 
	}
}

@import 'menu'; 

// PROJECTS
.projects {
	margin-top: 6rem; 
}
.project {
	border: 1px solid #eee; 
	border-radius: 2px;
	color: $dark-grey; 
	margin-bottom: 2rem; 
	transition: all .2s ease-in; 
	&:hover {
		border: 1px solid $turquoise; 
		box-shadow: 5px 5px 20px -5px rgba(51,51,51,0.25); 
	} 
}
.project-description {
	border-top: 1px solid #eee; 
	padding: .75rem; 
}
.project-title {
	font-weight:700; 
}
.img-container { 
	&.pubs-redesign {
		background: url('../img/pubs_redesign.jpg') no-repeat center center; 
		background-size: cover; 
		height: 180px;
	}
	&.news-page {
		background: url('../img/news_page.jpg') no-repeat center center;
		background-size: cover; 
		height: 180px;
	}
	&.living-style-guide {
		background: url('../img/living_style_guide.jpg') no-repeat center center; 
		background-size: cover; 
		height: 180px;
	}
}

//footer
footer {
	margin: 1.5rem 0 2rem 0; 
	p {
		border-top: 1px solid #eee; 
		font-size: .875rem; 
		padding: 1.5rem 0; 
	}
}



