<footer class="site-footer">

  <!--<div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>-->

  <div class="row">
    <div class="large-7 medium-8 medium-centered columns social-buttons">
        <a href="https://www.instagram.com/nancopeland/" target="_blank"><button>Instagram</button></a>
        <a href="https://twitter.com/nancopeland" target="_blank"><button>Twitter</button></a>
        <a href="https://github.com/nancopeland" target="_blank"><button>Github</button></a>
        <a href="mailto:nmcopeland1@gmail.com" target="_blank"><button>Email</button></a>
    </div>
  </div>

</footer>
