<header role="banner">

    <nav class="row">
        <div class="medium-4 columns">
            {% if page.prev-story %}
                <a href="{{page.prev-story}}">&larr; Previous Post</a>
            {% endif %}
        </div>
        <div class="small-4 columns" style="text-align:center;" >
            <a href="/">Home</a>
        </div>
        <div class="medium-4 columns">
            {% if page.next-story %}
                <a class="right" href="{{page.next-story}}">Next Post &rarr;</a>
            {% endif %}
        </div>
    </nav>

</header>


