<header role="banner">

    <nav>
        <div class="nav-item">
            {% if page.prev-story %}
                <a href="{{page.prev-story}}">&larr; Previous post</a>
            {% endif %}
        </div>
        <div class="nav-item">
            <strong><a href="/">Home</a></strong>
        </div>
        <div class="nav-item">
            {% if page.next-story %}
                <a class="text-right" href="{{page.next-story}}">Next post &rarr;</a>
            {% endif %}
        </div>
    </nav>

</header>


