// footer partial

footer {
	border-top: 1px solid #eee; 
	margin-top: 3rem; 
	padding-top: 1.5rem; 
	padding-bottom: 3rem; 
	p {
		font-size: .875rem; 
	}
}
.footer-links {
	margin-top: 1rem; 
	a {
		border-bottom: 0; 
		padding: .25rem;
		svg {
			width: 20px; 
			path {
				fill: $dark-grey;
				transition: all .2s ease;
			} 
		}
		&:hover {
			svg {
				path {
					fill: $turquoise; 
				}
			}
		}
	}
}

@media (min-width: 40em) {
	.footer-links {
		margin-top: 0; 
		text-align: right;
	}
}