// footer partial

.footer-wrapper {
	border-top: 1px solid #eee; 
	margin-top: 1.5rem; 
	padding: 1.5rem 0 2.5rem 0; 
	p {
		font-size: .875rem; 
	}
	.social-icons {
		text-align: right;
		a {
			border-bottom: 0; 
			padding: .25rem;
			svg {
				width: 22px; 
				path {
					fill: $dark-grey;
					transition: all .2s ease;
				} 
			}
			&:hover {
				svg {
					path {
						fill: $turquoise; 
					}
				}
			}
		}
	}
}