// projects partial

// about section
.about-home {
	margin-bottom: 2.25rem; 
	padding: 0 0.9375rem; 
	p {
		font-size: 1.25rem;
	}
}
@media (min-width: 40em) {
	.about-home {
		margin-bottom: 3.5rem; 
		p {
			font-size: 1.75rem; 
		}
	}
}


// PROJECTS
.projects {
	margin-top: 2rem; 
	@include grid-row;
}
.project-wrapper {
	@include grid-column(12); 
}
.project {
	border: 1px solid #eee; 
	border-radius: 2px;
	color: $dark-grey; 
	margin-bottom: 2rem; 
	-webkit-transition: all 0.4s cubic-bezier(0.15, 0.8, 0.4, 1);
    transition: all 0.4s cubic-bezier(0.15, 0.8, 0.4, 1);
	&:hover {
		border: 1px solid $turquoise; 
		box-shadow: 5px 5px 20px -5px rgba(51,51,51,0.25);
		-webkit-transform: scale(1.02, 1.02);
    	transform: scale(1.02, 1.02);
    	-webkit-transition: all 0.4s cubic-bezier(0.15, 0.8, 0.4, 1);
    	transition: all 0.4s cubic-bezier(0.15, 0.8, 0.4, 1); 
	} 
}
.project-description {
	border-top: 1px solid #eee; 
	padding: 1rem;
	p {
		font-size: 1.125rem; 
		line-height: 1.4; 
	} 
}
.project-title {
	font-weight: 700; 
}
.img-container { 
	height: 180px; 
	&.gig-app {
		background: url('../img/gig_app.jpg') no-repeat center center; 
		background-size: cover; 
	}
	&.pdf-button {
		background: url('../img/pdf_button.jpg') no-repeat center center; 
		background-size: cover; 
	}
	&.rd-holiday-email {
		background: url('../img/rd_holiday_email.jpg') no-repeat center center; 
		background-size: cover; 
	}
	&.smt-user-admin {
		background: url('../img/smt_user_admin.jpg') no-repeat center center; 
		background-size: cover; 
	}
	&.pubs-redesign {
		background: url('../img/pubs_redesign.jpg') no-repeat center center; 
		background-size: cover; 
	}
	&.news-page {
		background: url('../img/news_page.jpg') no-repeat center center;
		background-size: cover; 
	}
	&.living-style-guide {
		background: url('../img/living_style_guide.jpg') no-repeat center center; 
		background-size: cover; 
	}
}

@media (min-width: 40em) {
	.project-wrapper {
		@include grid-column(6); 
	}
	.img-container { 
		height: 220px; 
	}
}



