// projects partial

// about section
.about-home {
	margin-bottom: 2.25rem; 
	padding: 0 0.9375rem; 
	p {
		font-size: 1.25rem;
	}
}
@media (min-width: 40em) {
	.about-home {
		margin-bottom: 3.5rem; 
		p {
			font-size: 1.75rem; 
		}
	}
}


// PROJECTS
.projects {
	margin-top: 2rem; 
}
.project-wrapper {
	@include grid-column(12); 
}
.project {
	border: 1px solid #eee; 
	border-radius: 2px;
	color: $dark-grey; 
	margin-bottom: 2rem; 
	transition: all .2s ease-in; 
	&:hover {
		border: 1px solid $turquoise; 
		box-shadow: 5px 5px 20px -5px rgba(51,51,51,0.25); 
	} 
}
.project-description {
	border-top: 1px solid #eee; 
	padding: .75rem;
	p {
		line-height: 1.4; 
	} 
}
.project-title {
	font-weight: 700; 
}
.img-container { 
	&.smt-user-admin {
		background: url('../img/smt_user_admin.jpg') no-repeat center center; 
		background-size: cover; 
		height: 180px;
	}
	&.pubs-redesign {
		background: url('../img/pubs_redesign.jpg') no-repeat center center; 
		background-size: cover; 
		height: 180px;
	}
	&.news-page {
		background: url('../img/news_page.jpg') no-repeat center center;
		background-size: cover; 
		height: 180px;
	}
	&.living-style-guide {
		background: url('../img/living_style_guide.jpg') no-repeat center center; 
		background-size: cover; 
		height: 180px;
	}
}

@media (min-width: 40em) {
	.project-wrapper {
		@include grid-column(6); 
	}
}



