// nav partial

// ======== DEFAULT nav ========
header[role='banner'] {
    background-color: white;
    border-bottom: 1px solid #eee;
	position: fixed;
    top: 0;
    left: 0;
    padding: 1rem .75rem; 
    width: 100%;
    z-index: 100; 
}
nav {
  	transition: all .25s ease; 
	a { 
		border: 0; 
		display: block; 
		font-size: .75rem; 
		letter-spacing: .5px;
		transition: color .25s ease; 
		&:hover {
			border: 0; 
		}
	}
}

@media (min-width: 40em) {
	header[role='banner'] {
    	padding: 1rem 3rem;
	}
}