// nav partial

// ======== DEFAULT nav ========
nav {
  	transition: all .25s ease; 
	a { 
		border: 0; 
		font-size: .875rem; 
		font-weight: 700; 
		letter-spacing: .5px;
		transition: color .25s ease; 
		&:hover {
			border: 0; 
		}
	}
}