// posts partial

.post-header {
    margin: 1.5rem 0 2.5rem 0;
    text-align: center; 
	h1 {
		font-size: 2.25rem; 
		letter-spacing: 1px; 
		line-height: 1.2; 
		margin-bottom: 1rem; 
	}
	p {
		display: inline-block;
		font-weight: 700; 
	}
	ul {
		display: inline-block; 
		list-style-type: none; 
		padding: 0; 
		li {
			display: inline-block; 
			&:nth-child(2) {
				&:before {
					content: ','; 
					margin-right: .5rem; 
				}
			}
		}
	}
	hr {
		background-color: $turquoise; 
		border: 0px; 
		height: 5px; 
		margin: 3rem 0; 
		width: 35%; 
	}
}
.post-content {
	margin: 1rem auto 3rem auto;  
	p {
		margin: 1rem 0; 
	}
	img {
		display: block; 
		margin: 2rem auto; 
	}
	code {
		background-color: $turquoise-light; 
		font-weight: 700; 
		padding: .125rem; 
	}
	ol {
		padding-left: .75rem; 
	}
}

@media (min-width: 40em) { 
	.post-header {
		margin: 3rem 0 4rem 0; 
		h1 {
			font-size: 3.5rem; 
		}
		p, li {
			font-size: 1.25rem; 
		}
	}
}