// posts partial

.post {
	h1 {
		font-size: 2.25rem; 
		line-height: 1.3; 
		margin: 1rem 0 1.5rem 0; 
		text-align: center;
	}
	.post-header-button-wrapper {
		margin: 1rem auto 2rem auto; 
		button {
			
		}
	}
	hr {
		background-color: $turquoise; 
		border: 0px; 
		height: 5px; 
		width: 20%; 
	}
}
.post-content {
	margin: 5rem 0 3rem 0;  
	p {
		margin: 1rem 0; 
	}
	img {
		display: block; 
		margin: 1.5rem auto; 
	}
	code {
		background-color: $turquoise-light; 
		font-weight: 700; 
		padding: .125rem; 
	}
}

@media (min-width: 40em) { 
	.post {
		h1 {
			font-size: 3.25rem; 
		}
	}
}