// universal partial

*, 
*:before, 
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-color: #fafafa;
	color: $dark-grey;
	line-height: 1.5;
	margin: 0; 
	overflow-y: scroll; 
	&.no-scroll {
		overflow-y: hidden; 
	}
}

h1, h2, h3, h4, h5, h6, p, a, button, ul, ol, li, span {
	font-family: 'franklin-gothic-urw', 'Helvetica', sans-serif; 
	margin: 0; 
}
p, li, button {
	font-size: 1.25rem; 
	font-weight: 300; 
	letter-spacing: .375px; 
}
a, button {
	cursor: pointer; 
	transition: all .1s ease;
	&:focus {
		outline: none; 
	} 
}
a {
	border-bottom: 1px dotted $turquoise;
	color: inherit; 
	text-decoration: none; 
	&:hover {
		border-bottom: 1px solid $turquoise;
		color: $turquoise;  
	}
}
button {
	background-color: transparent; 
	border: 1px solid $turquoise; 
	color: $turquoise; 
	padding: .5rem 1rem; 
	a {
		border: 0; 
		&:hover {
			border: 0; 
		} 
	}
	&:hover {
		background-color: $turquoise-light; 
	}
}
img {
	display: inline-block;
    height: auto;
	max-width: 100%;
    vertical-align: middle;
}

.text-right {
	text-align: right; 
}




