// universal partial

body {
	color: $dark-grey;
	background-color: #fff;  
	overflow-y: scroll; 
}

h1, h2, h3, h4, h5, h6, p, a, button, .button {
	font-family: 'Karla', sans-serif; 
	margin: 0; 
}
button {
	background-color: transparent;
	border: 0; 
	cursor: pointer; 
	padding: 0;  
}
a, button {
	border-bottom: 1px dotted $turquoise;
	color: inherit; 
	cursor: pointer; 
	text-decoration: none; 
	transition: all .1s ease; 
	&:hover {
		border-bottom: 1px solid $turquoise;
		color: $turquoise;  
	}
	&:focus {
		outline: none; 
	}
}