---
layout: default
---

<div class="row projects">
    <div class="large-10 large-centered columns">
  
    {{ content }}

    {% for post in site.posts %}
        <div class="project-wrapper">
            <!--<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>-->
            <a href="{{ post.url | relative_url }}" target="_blank">
                <div class="project">
                    <div class="img-container {{ post.image-class | escape }}"></div>
                    <div class="project-description">
                        <p class="project-title">{{ post.title | escape }}</p>
                        <p>{{ post.description | escape }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

</div>