---
layout: default
---

<div class="about-home">
    <p><strong>Nan Copeland</strong> is a front-end designer at <a href="http://industrydive.com/" target="_blank">Industry Dive</a>, a media startup in Washington, D.C. and she recently completed a UX design class at <a href="https://generalassemb.ly/" target="_blank">General Assembly</a>. When not working, she can often be found at <a href="http://www.thewonderlandballroom.com/" target="_blank">The Wonderland Ballroom</a> or <a href="http://www.compasscoffee.com/" target="_blank">Compass Coffee</a>. See her work below or contact her at <a href="mailto:nmcopeland1@gmail.com" target="_blank">nmcopeland1@gmail.com</a>.</p>
</div>

<div class="projects">
  
    {{ content }}

    {% for post in site.posts %}
        <div class="project-wrapper">
            <a href="{{ post.url | relative_url }}">
                <div class="project">
                    <div class="img-container {{ post.image-class | escape }}"></div>
                    <div class="project-description">
                        <p class="project-title">{{ post.title | escape }}</p>
                        <p>{{ post.description | escape }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
        
</div>