---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  	<header class="row post-header">
        <div class="medium-10 medium-centered columns">
        	<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
            <p>See the project live:</p>
        	<ul>
        		<li><a href="{{ page.live-project-link | escape }}" target="_blank">{{ page.live-project-name | escape }}</a></li>
        		{% if page.live-project-2 %} 
        			<li><a href="{{ page.live-project-link-2 | escape }}" target="_blank">{{ page.live-project-name-2 | escape }}</a></li>
        		{% endif %}
        	</ul>
        </div>
  	</header>

  	<div class="row post-content" itemprop="articleBody">
        <div class="medium-10 medium-centered columns">
    	   {{ content }}
        </div>
  	</div>

</article>
